
{% extends "base.html" %}

{% block titleblock %}
  <title>ZenTEx - Searcher</title>
{% endblock %}

{% block content %}
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="index.html">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Search Tool</li>
  </ol>
  <!-- Page Content -->
  <h1>Search Tool</h1>
  <hr>
  <form action="{{ url_for('zsearcher') }}" method="POST" enctype="multipart/form-data" id="file-uploader">
    <div class="input-default-wrapper mt-3 form-group">

      <input type="file" id="file-with-current" class="input-default-js" name="file">

    </div>
    <div class="btn-group btn-group-toggle form-group" data-toggle="buttons">
      <label class="btn btn-secondary active">
        <input type="radio" name="categ" id="option1" value="tags" autocomplete="off" checked> Tags
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="categ" id="option2" value="score" autocomplete="off"> Score
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="categ" id="option3" value="date" autocomplete="off"> Dates
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="categ" id="option4" value="form" autocomplete="off"> Form
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="categ" id="option5" value="brand" autocomplete="off"> Brand
      </label>
    </div> <br />
    <div class="form-group">
      <label for="column-omit">White-space separated values: <br />
        <textarea class="form-control" id="column-omit" rows="3" name="search-args"></textarea>
        </label>
      </div>
    <div class="form-group">
      <input class="btn btn-dark" type="submit" value="Search" />
      </div>
    </form>
    <div class="success-response">
        <h4>{{ msg }}</h4>
      </div>

    <div class="card mb-3">
      <div class="card-header">
        <i class="fas fa-table"></i>
        Output Table</div>
        <div class="card-body">
          <div class="table-responsive table-wrapper-scroll-x height-limiter" style="max-height:20rem;overflow:scroll;">
            {{ table | safe }}
            </div>
          </div>
      </div>




{% endblock %}
